<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <div class='navbar-brand'>
      <%= link_to root_path do %>
        <p><%= image_tag "logo_long.png", class: "logo" %></p>
      <% end %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">        
        <li><%= link_to image_tag('twitter2.png'), "https://twitter.com/crossphd", :target => "_blank" %></li>
        <li><%= link_to image_tag('github2.png'), "https://github.com/CRossPhD", :target => "_blank" %></li>
        <li><%= link_to image_tag('medium2.png'), "https://medium.com/@crossphd", :target => "_blank" %></li>

          <!-- ** removed drop down for now  ** -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  
  <div class="intro">
    <h1>Hey, I'm Chris Ross</h1>
    <br><br>
    <h4>I'm a designer and a developer, as well as a psychologist,</h4> <br>
    <h4>informaticist, and incurable tech junkie.</h4> <br>
    <h4>Welcome to my portfolio!</h4> 
    </div>

  <br> <br>
  <div class="booyah-box2 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
    <h4 class="code">def chris_ross(your_needs)</h4>
    <h4 class="code"> &nbsp; skills = [programmer, full_stack_web_developer]</h4>
    <h4 class="code"> &nbsp; if skills.include?(your_needs)</h4>
    <h4 class="code">&nbsp; &nbsp; return stellar_work, satisfied_customers!</h4>
    <h4 class="code">&nbsp; end</h4>
    <h4 class="code">end</h4>
  </div>
  

  <div>
    <h1 class="text-center code2 col-xs-12">
      <br><br>
      Projects
    </h1>
  </div>
   <br class="clear" />




<%= yield %>

</body>
</html>
